@font-face {
    font-family: rusilla;
    src: url("rusilla-serif-font/RusillaSerif-2OZpl.otf");
}

body {
    background-image: url("flowers-aesthetic-edited.png");
    background-size: cover;
    background-attachment: fixed;
}

#brand-name {
    color: #6F6568;
    text-align: center;
    
    font-family: rusilla;
    font-size: 100px;
    font-style: italic;
    
    
    margin-top: 200px;
    margin-right: 60px;

    position: relative;
    display: block;
}

.pop-text {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: #151112;
    color: #6F6568;
    text-align: center;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;

    top: 0%;
    left: 50%;
    transform: translateX(-50%);

    transition: opacity 0.3s ease;
    z-index: 1;

    font-family: rusilla;
    font-size: 20px;
    font-weight: 800;
}

#brand-name:hover .pop-text {
    visibility: visible;
    opacity: 1;
}

.music-player {
    border: none
    display: block;
    width: min-content;
    position: absolute;
    visibility: hidden;
    opacity: 0;

    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    z-index: 1;

    top: 100%;
    left: 50%;
}

#brand-name:hover .music-player {
    visibility: visible;
    opacity: 1;
}